<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Taranjeet Singh",
    "url": "https://taranjeet.cc",
    "sameAs": [
        "https://github.com/taranjeet",
        "https://linkedin.com/in/taranjeet7114",
        "https://www.quora.com/profile/Taranjeet-Singh-2",
        "https://medium.com/@taranjeet",
        "https://twitter.com/taranjeet7114"
    ],
    "gender": "male",
    "image": "https://taranjeet.cc/assets/images/profile.jpg"
}
</script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "url": "https://taranjeet.cc",
    "name": "Taranjeet Singh - taranjeet.cc",
    "image": "https://taranjeet.cc/assets/images/profile.jpg",
    "author": {
        "@type": "Person",
        "name": "Taranjeet Singh"
    }
}
</script>
